.card {
    width: 300px;
    border-radius: 10px;

    box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.2);
}

.header, .header_done {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0;

    font-size: 24px;
    font-weight: 700;

    text-align: center;
    position: relative;

    height: 50px;
}

.header{
    background-color: var(--blue);
}

.header_done{
    background-color: var(--pink);
}

.headerTitle {
    width: 70%;
    margin: 0 auto;

    white-space: nowrap;
    overflow-x: auto;
}


.settingsBox{
    width: 100px;
    height: 100%;
    
    position: absolute;
    right: -70px;
    top: 0;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    z-index: 1;
}

.fieldsBox{
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 6px;
}

.settingsField{
    width: 100%;

    padding: 4px 10px;

    font-size: 16px;
    font-weight: normal;
    text-align: left;

    background-color: white;
    border-bottom: 1px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
}

.settingsField:hover{
    background-color: lightgray;
}

.editImg{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.tasksBox{
    height: 150px;
    overflow-y: auto;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;
    height: 50px;

    border-bottom: 1px solid lightgray;

    font-size: 18px;
}

.cardButtonDone{
    border-radius: 50%;
    width: 30px;
    height: 30px;

    background-color: var(--pink);

    outline: none;
    border: none;
    cursor: pointer;  
}

.taskButton, .taskButtonDone {
    border-radius: 50%;
    width: 30px;
    height: 30px;

    border: 2px solid var(--blue);

    outline: none;
    cursor: pointer;
}


.taskButtonDone {
    background-color: var(--blue);
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 6px 30px;

    border-top: 1px solid lightgray;
}