@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar { width: 0;}

:root{
  --blue: #a2c5d3;
  --pink: #f6d4ca;

  --laptop: 1024px;

  --bg-color: white;
  --text-color: #333;
}

[data-theme='dark'] {
  --bg-color: #333;
  --text-color: #f5f5f5;
}

body{

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat';
}

.App{
  margin: 50px auto;
  width: var(--laptop);

  position: relative;
}